extends layout.pug

block append meta
  title #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  link(rel="canonical", href=proj_url)
  script. 
    var matches = !{JSON.stringify(matches)};
block main 
  main
    span(class="legend pl1") player 1 (favorite)
    span(class="legend pl2") player 2 (under dog)
    span(class="legend bet365") origin = Bet365
    span(class="legend williamhill") origin = William Hill
    table(id="table")
      caption Total matches: 
        span
      thead
        th 
          div
            span(class="sort", data-sorting="", data-path="date") &#8249;
            input(type="text", data-path="date", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="hours") &#8249;
            input(type="text", data-path="hours", placeholder="Search") 
        th
        th
        th
          div
            span(class="sort", data-sorting="", data-path="player1,name") &#8249;
            input(type="text", data-path="player1,name", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="player2,name") &#8249;
            input(type="text", data-path="player2,name", placeholder="Search")
        th
        th 
        th 
          div
            span(class="sort", data-sorting="", data-path="player1,rangeRank") &#8249;
            input(type="text", data-path="player1,rangeRank", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="player2,rangeRank") &#8249;
            input(type="text", data-path="player2,rangeRank", placeholder="Search")
        th 
        th 
        th 
        th
        th 
        th
          div
            input(type="text", data-path="association", placeholder="Search")
        th
          div
            input(type="text", data-path="surface", placeholder="Search")
        th
          div
            input(type="text", data-path="tournament,name", placeholder="Search")
        th  
          div 
            span(class="sort", data-sorting="", data-path="tournament,value") &#8249;
        th
        th  
      thead(class="thead")
        th Date
        th Hours 
        th Score
        th W/L
        th.p1 Name 
        th.p2 Name 
        th.p1 Rank
        th.p2 Rank
        th.p1 Range Rank
        th.p2 Range Rank 
        th.p1 Odds
        th.p2 Odds
        th.p1 Odds Range
        th.p1 Inv. 
        th.p1 Correct Score
        th Association 
        th Surface 
        th Tour.
        th Tour. value
        th Round 
        th  
      tbody 


