
#home main section:nth-child(even) {
  background-color: var(--lighter-gray);
}

small {
  display: block;
  color: #868e96;
  font-size: .8rem;
}

#dTable {
  overflow-x: auto;
}

table {
  font-size: 1rem;
  width: 100%;
}

th div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
th input{
  width: 7rem;
}
#dtable th[data-path]::before {
  cursor: pointer;
  content: '\26DB';
  transform: rotate(-90deg);
  display: inline-block;
  color: var(--gray)
}
#dtable th[data-order=desc]::before {
  transform: rotate(0deg);
  color: var(--primary)
}
#dtable th[data-order=asc]::before {
  transform: rotate(-180deg);
  color: var(--primary)
}
#dtable th input {
  border: 1px solid var(--gray);
  background-color: var(--tertiary);
  margin-left: var(--x-small-space);
  margin-top: var(--gap);
  width: 5rem;
  font-size: var(--font-size-very-small);
  color: var(--primary);
  outline: none;
  font-style: italic;
}
th, td {
  padding: 0.3rem 0.2rem;
}

th, td {
  max-width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr:hover {
  background-color: var(--darker-gray);
  color: var(--white);
}

thead.thead {
  background: var(--white);
  position: sticky;
  top: -1px;
}

th.p1, td.p1 {
  background-color: rgba(255, 102, 0, .1);
}
th.p2, td.p2 {
  background-color: rgba(255, 0, 255, .1);
}

td.bet365 {
  background-color: rgba(0, 204, 0, .1);
}
td.williamhill {
  background-color: rgba(0, 0, 153, .1);
}


span.legend {
  display: block;
  margin: .7rem;
}
span.legend::before {
  content: ' ';
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 1rem;
}
span.legend.pl1::before {
  background-color: rgba(255, 102, 0, .3);
}
span.legend.pl2::before {
  background-color: rgba(255, 0, 255, .3);
}
span.legend.bet365::before {
  background-color: rgba(0, 204, 0, .3);
}
span.legend.williamhill::before {
  background-color: rgba(0, 0, 153, .3);
}


#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray);
  padding-top: var(--normal-space);
  margin-top: var(--normal-space);
  font-size: var(--font-size-small)
}
#pagination span {
  font-weight: 500;
}
#pagination div {
  width: 20%;
}
#pagination div:nth-child(3) {
  text-align: right;
}
#pagination ul {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding: 0 var(--x-small-space);
  justify-content: center;
}
#pagination li {
  margin: var(--x-small-space);
  cursor: pointer;
}
#pagination li::marker {
  content: none;
}
#pagination li:hover, #pagination li.active {
  text-decoration: underline;
}
#pagination li.active {
  cursor: auto;
}

#filter {
  margin: var(--small-space) 0;
}

@media screen and (max-width: 1366px) {
  #dtable th::before  {
    content: '';
  }
  #dtable th input {
    display: block;
    margin-left: 0;
  }
}