extends layout.pug

block append meta
  title #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  link(rel="canonical", href=proj_url)
block main 
  main
    span(class="legend pl1") player 1 (favorite)
    span(class="legend pl2") player 2 (under dog)
    span(class="legend bet365") origin = Bet365
    span(class="legend williamhill") origin = William Hill
    div(id="dtable")
      table
        thead 
          //- APIRELATED
          th(data-path="id") id
          th(data-path="date") Date
          th(data-path="hours") Hours
          th(data-path="score") Score
          th() W/L
          th(class="p1", data-path="player1.name") Name
            input(type="text", placeholder="Filter...")
          th(class="p2", data-path="player2.name") Name
            input(type="text", placeholder="Filter...")
          th(class="p1", data-path="player1.origRank") Rank
          th(class="p2", data-path="player2.origRank") Rank
          th(class="p1") Range Rank
          th(class="p2") Range Rank
          th(class="p1", data-path="player1.odds") Odds
          th(class="p2", data-path="player2.odds") Odds
          th(class="p1") Odds Range
          th(class="p1", data-path="inv") Inv.
          th(class="p1", data-path="correctScore") Correct Score
          th(data-path="association") Association
          th(data-path="surface") Surface
          th(data-path="tournament.name") Tour
            input(type="text", placeholder="Filter...")
          th(data-path="tournament.value") Tour value
          th(data-path="round") Round
          th(data-path="url") Link
          th(class="p1") SID
          th(class="p1") SID Count
          th(class="p2") SID
          th(class="p2") SID Count
          //- APIRELATED
        tbody
      div(id="pagination")
        div Page #[span(id="page")] of #[span(id="pages")] pages 
        ul
        div Showing #[span(id="start")] - #[span(id="end")] of #[span(id="total")] results

