#home main section:nth-child(even) {
  background-color: var(--lighter-gray);
}

#home main .matches {
  margin: 2rem;
}

#home main .match {
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}