extends layout.pug

block append meta
  title #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  link(rel="canonical", href=proj_url)
block main 
  main
    section(id="legend")
      div
        span(class="pl1") player 1 (favorite)
        span(class="pl2") player 2 (under dog)
      div
        span(class="bet365") origin = Bet365
        span(class="williamhill") origin = William Hill
        span origin = Mixed
    div(id="dtable")
      div(class="tWrap")
        table
          thead 
            //- APIRELATED
            th(data-path="id") id
            th(data-path="time") Time
            th Hours
            th Score
            th W/L
            th(class="p1", data-path="player1.name") Name
              input(type="text", placeholder="Filter...")
            th(class="p2", data-path="player2.name") Name
              input(type="text", placeholder="Filter...")
            th(class="p1", data-path="player1.origRank") Rank
            th(class="p2", data-path="player2.origRank") Rank
            th(class="p1") Range Rank
            th(class="p2") Range Rank
            th(class="p1", data-path="player1.odds") Odds
            th(class="p2", data-path="player2.odds") Odds
            th(class="p1") Odds Range
            th(class="p1", data-path="inv") Inv.
              input(type="text", placeholder="Filter...")
            th(class="p1", data-path="correctScore") Correct Score
            th(data-path="association") Association
            th(data-path="surface") Surface
            th(data-path="tournament.name") Tour
              input(type="text", placeholder="Filter...")
            th(data-path="tournament.value") Tour value
            th Round
            th Link
            th(class="p1") SID
            th(class="p1" data-path="player1.stringIdCount") SID Count
            th(class="p2") SID
            th(class="p2" data-path="player2.stringIdCount") SID Count
            th(data-path="sid2.value") SID2
            th(data-path="sid2.countW") SID2 W
            th(data-path="sid2.countL") SID2 L
            th(data-path="sid2.perc") SID2 W %
            th SID2 Res
            //- APIRELATED
          tbody
      div(id="pagination")
        div Page #[span(id="page")] of #[span(id="pages")] pages 
        ul
        div Showing #[span(id="start")] - #[span(id="end")] of #[span(id="total")] results

