extends layout.pug

block append meta
  title #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  link(rel="canonical", href=proj_url)
  script. 
    var matches = !{JSON.stringify(matches)};
block main 
  main
    table(id="table")
      caption Total matches: 
        span
      thead
        th 
          div
            span(class="sort", data-sorting="", data-path="date") &#8249;
            input(type="text", data-path="date", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="hours") &#8249;
            input(type="text", data-path="hours", placeholder="Search") 
        th
          div
            span(class="sort", data-sorting="", data-path="player1,name") &#8249;
            input(type="text", data-path="player1,name", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="player1,rank") &#8249;
        th 
        th 
          div
            span(class="sort", data-sorting="", data-path="player2,name") &#8249;
            input(type="text", data-path="player2,name", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="player2,rank") &#8249;
        th 
        th 
        th 
        th 
        th  
        th 
        th 
        th 
        th 
        th  
        th  
        th  
      thead
        th Date
        th Hours 
        th.p1 Name 
        th.p1 Rank
        th.p1 Range Rank 
        th.p2 Name 
        th.p2 Rank
        th.p2 Range Rank 
        th.p1 Odds
        th.p2 Odds
        th.p1 Bet 
        th.p1 Inv. 
        th.p2 Bet 
        th Fav Correct Score
        th Type 
        th Surface 
        th Tournament 
        th Round 
        th  
      tbody 


